.DS_store
.bundle/
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock
*.log
*.gem
gems
gems_backup
*scratch*
settings
tmp

lib/consumer/event_store
lib/consumer/event_store.rb
lib/consumer/postgres
lib/consumer/postgres.rb
